<div>
    <div class="container">
        <br>
        <div>
            <div class="titulos d-flex justify-content-center">
                PELICULAS EN ESTRENO
            </div>
            <br>
            <app-premiere-home></app-premiere-home>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="titulos d-flex justify-content-center">
                PELICULAS MAS POPULARES
            </div>
            <br>
            <app-list-home></app-list-home>
            <br>
        </div>
    </div>
</div>

